#pokemon-list{
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1.5em;
  height: 100%;
  width: 100%;
}

.pokemons{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  border: 2px solid #376db9;
  border-radius: 5px;
  font-family: "Madimi One", sans-serif;
  color: black;
  text-decoration: none;
  background-color: rgba(255,255,255,0.5);
}

.pokemons:hover{
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.1, 1.1);
    text-decoration: none;
    color: #376db9;
    background-color: #fbcb04;
    border: 2px solid #376db9;
}

.row{
  justify-content: center;
  align-items: flex-end;
}